<%- include('partials/header') %>
    <!-- ======= Top Bar ======= -->
  <div id="topbar" class="d-flex align-items-center fixed-top">
    <div class="container d-flex align-items-center justify-content-center justify-content-md-between">
      <div class="align-items-center d-none d-md-flex">
        Users Database
      </div>
      <div class="d-flex align-items-center">
       <a href="/"></a>
      </div>
    </div>
  </div>
  <br>
  <br>
  <br>
    <!-- ======= Header ======= -->
<div class="container">
    <div class="row">
   <div align="right">
      <a href="Admin-dashboard.html" class="btn btn-danger" style="border-radius: 23px;padding: 8px 25px;">Back</a>
    </div>
      <div class="section-title" id="covid">
            <h2 class="text-center">APPLICANTS DATABASE</h2>
        </div>
    </div>
    <div class="row">
        <table class="table table-bordered table-hover">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Sr.No</th>
                    <th scope="col">First Name</th>
                    <th scope="col">Last Name</th>
                    <th scope="col">City</th>
                    <th scope="col">Email</th>
                    <th scope="col">Contact</th>
                    <th scope="col">Adhar</th>
                    
                </tr>
            </thead>
            <tbody>
                <%  var x = 1; users.forEach(function(user) { %>
                    <tr>
                       <th scope="row"><%= x %></th>
                           <td> <%= user.firstname %> </td>
                           <td> <%= user.lastname %> </td>
                           <td> <%= user.city %> </td>
                           <td> <%= user.email %> </td>
                           <td> <%= user.phone %> </td>
                           <td> <%= user.Adhar %> </td>
                      </tr>
                <%  x++ }); %>
           

            </tbody>
        </table>
    </div>
    
</div>















    <!-- Vendor JS Files -->
  <script src="assets/vendor/aos/aos.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>
  <script src="assets/vendor/purecounter/purecounter.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>

</body>

</html>